.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.watchCloset {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.singleWatch{
  flex: 1;
}

.Arrow {
  height: 40px;
  width: 40px;
}

.scrollers {
  position: absolute;
  bottom: 0;  
  height: 20vmin;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

button {
  margin: 60px 0;
  background-color: #fff;
  outline: none;
  border: none;
  padding: 30px 40px;
}

button:focus, button:active {
  outline: none;
  border: none;
}

.imgCurr {
  height: 80vmin;
}

.imgPrev, .imgNext {
  height: 80vmin;
  opacity: 0.3;
  transition: opacity 300ms linear;
}

.imgPrev .singleWatch img, .imgNext .singleWatch img {
  height: 30vmin;
}

.imgCurr img {
  height: 80vmin;
}

.imgCurr .singleWatch .details {
  font-size: 25px;
}

.details {
  /* margin: 16px; */
  padding: 8px;
}

/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
opacity: 1;
transition: opacity 1500ms linear;
}

/* enter */
.fade-enter {
opacity: 0;
z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms linear;
}
.fade-exit-done {
opacity: 0;
}

/* slide enter */
.slide-enter {
opacity: 0;
transform: scale(0.97) translateY(5px);
z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
  
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity 1500ms linear, transform 1500ms ease-out;
}
.slide-exit-done {
opacity: 0;
}

@media only screen and (max-width: 900px)  {

  .App {
    justify-content: space-between;
  }

  .imgCurr img {
    height: 60vmin;
  }
  

}